*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #F3F7FA;
    color: #000;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}
*:focus{
    outline: none;
}

/* ----------------------------------------
Header
---------------------------------------- */
header{
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 400px;
}
/* brand name */
nav{
    margin: 0 5%;
    padding-top: 0.625rem;
}
nav a{
    cursor: pointer;
    font-size: 1.5625rem;
    text-decoration: none;
    color: #000;
}
/* content container */
.content-container{
    width: 90%;
    position: absolute;
    top: 25%;
    left: 5%;
}
.content-container img{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1.875rem;
}
/* title */
.content-container h1{
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 1.875rem;
}
/* description */
.content-container p{
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 3.75rem;
}
/* button */
.btn-container{
    text-align: center;
}
.content-container a:link, .content-container a:visited{
    font-size: 1.5625rem;
    background-color: #F5B700;
    border: 1px solid #F5B700;
    border-radius: 200px;
    padding: 0.5rem 3.75rem;
    text-decoration: none;
}
.content-container a:hover, .content-container a:focus{
    background-color: #d8a303;
    border: 1px solid #d8a303;
    border: 1px solid #d8a303;
}
/* ----------------------------------------
Media Queries
---------------------------------------- */
@media only screen and (min-width: 1024px){
    .content-container img{
        width: 70%;
        margin: 0 auto 1.875rem;
    }
    .content-container p{
        width: 60%;
        margin: 0 auto 3.75rem;
    }
}
@media only screen and (min-width: 1536px){
    html{
        font-size: 20px;
    }
    .content-container img{
        width: 50%;
    }
    .content-container p{
        width: 40%;
    }
}
@media only screen and (min-width: 1900px){
    html{
        font-size: 25px;
    }
}
@media only screen and (min-width: 2500px){
    html{
        font-size: 30px;
    }
}