/* ----------------------------------------
Basic Setup
---------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #fff;
    color: #fff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}
*:focus{
    outline: none;
}

/* used for menu toggle */
.hide{
    display:none;
}
/* ----------------------------------------
Header
---------------------------------------- */
nav{
    font-size: 1.125em;
}

/* hamburger menu lines styling */
.hamburger{
    position: absolute;
    z-index: 1;
    width: 23px;
    height: 23px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.ham-lines{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.ham-lines:before,
.ham-lines:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
.ham-lines:after{
    top: 10px;
}

/* hamburger menu animation */
.rotate-ham-menu{
    transform: rotate(135deg);
}

.rotate-ham-menu.ham-lines:before,
.rotate-ham-menu.ham-lines:after{
    top: 0;
    transform: rotate(90deg);
}

/* links styling */
#links{
    display: none;
    flex-direction: column;
    margin: 10% 10%;
    justify-content: space-around;
}
#links a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 2em;
    z-index:2;
}


/*

.brand-name{
    display: inline-block;
    font-size: 1.25em;
    margin-top: 10px;
    margin-left: 20px;
}
.navbar-toggle{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.ham-menu-icon{
    height: 23px;
    width: 23px;
}
.menu li{
    list-style-type: none;
    text-align: center;
    margin: 50px auto;
}
.nav-links, .brand-name, .menu a{
    text-decoration: none;
    color: black;
}
.call-btn:link, .call-btn:visited{
    background-color: #F5B700;
    border: 1px solid #F5B700;
    border-radius: 200px;
    padding: 10px 10px;
}
.call-btn:hover, .call-btn:active, .call-btn:focus{
    background-color: #d8a303;
    border: 1px solid #d8a303;
    border: 1px solid #d8a303;
}
.phone-icon{
    vertical-align: middle;
    height: 22px;
    width: 22px;
}
*/

