/* ----------------------------------------
Basic Setup
---------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #fff;
    color: #fff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}
*:focus{
    outline: none;
}

/* used for menu toggle */
.hide{
    display:none;
}
/* ----------------------------------------
Header
---------------------------------------- */
nav{
    font-size: 1.125em;
    height: 20vh;
    position: relative;
    background: #5b78c7;
}

/* hamburger menu lines styling */
.hamburger{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 6px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.hamburger > div:before,
.hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
.hamburger > div:after{
    top: 10px;
}
/* hamburger menu animation */
.rotate-ham-menu{
    transform: rotate(135deg);
}

.rotate-ham-menu.hamburger > div:before,
.rotate-ham-menu.hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
}

/* links styling */
.menu{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 0.5s ease-out;
    pointer-events: none;
}
.menu.open{
    background: #5b78c7;
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
}
.menu li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.menu li{
    opacity: 0;
}
.menu li:nth-child(1){
    transition: all 0.5s ease 0.2s;
}
.menu li:nth-child(2){
    transition: all 0.5s ease 0.4s;
}
.menu li:nth-child(3){
    transition: all 0.5s ease 0.6s;
}
li.fade{
    opacity:1
}



/*
.brand-name{
    display: inline-block;
    font-size: 1.25em;
    margin-top: 10px;
    margin-left: 20px;
}
.navbar-toggle{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.ham-menu-icon{
    height: 23px;
    width: 23px;
}
.menu li{
    list-style-type: none;
    text-align: center;
    margin: 50px auto;
}
.nav-links, .brand-name, .menu a{
    text-decoration: none;
    color: black;
}
.call-btn:link, .call-btn:visited{
    background-color: #F5B700;
    border: 1px solid #F5B700;
    border-radius: 200px;
    padding: 10px 10px;
}
.call-btn:hover, .call-btn:active, .call-btn:focus{
    background-color: #d8a303;
    border: 1px solid #d8a303;
    border: 1px solid #d8a303;
}
.phone-icon{
    vertical-align: middle;
    height: 22px;
    width: 22px;
}
*/

