/* ----------------------------------------
Basic Setup
---------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #fff;
    color: #fff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}
*:focus{
    outline: none;
}
/* ----------------------------------------
Header
---------------------------------------- */

/* NAVIGATION BAR */

header{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/landing-page.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}
.menu{
    list-style-type:none;
    display: flex;
    margin-right: 37px;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-links, .brand-name, .call-btn span{
    text-decoration: none;
    color: white;
}
.menu li{
    text-align: center;
    margin: 0;
    margin-top: 20px;
}
.brand-name{
    display: inline-block;
    font-size: 1.5em;
    margin-left: 37px;
    margin-top: 20px;
    font-weight: 400;
}
.nav-links{
    margin-left: 40px;
    font-size: 1.125em;
}
.call-btn:link, .call-btn:visited{
    margin-left: 40px;
    text-decoration: none; 
    border-radius: 200px;
    padding: 10px 10px;
    background-color: #F5B700;
    border: 1px solid #F5B700;
    transition: background-color 0.2s, border 0.2s, color;
}
.call-btn:hover, .call-btn:active{
    background-color: #d8a303;
    border: 1px solid #d8a303;
    border: 1px solid #d8a303;
}
.call-btn span{
    font-size: 1.125em;
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
}
.phone-icon{
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
}
.nav-links:link,
.nav-links:visited{
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bttom 0.2s;
}
.nav-links:hover,
.menu l:active{
    border-bottom: 2px solid #F5B700;
}


/* HERO TEXT BOX*/
.hero-text-box{
    position: absolute;
    width: 80%;
    top: 45%;
    text-align: center;
    margin: 0 10%;
}
.hero-text-box h1{
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 30px;
}
.hero-text-box h2{
    font-size: 1.875em;
    font-weight: 300;
    margin-bottom: 60px;
}
.btn:link, .btn:visited{
    background-color: #B7D5D4;
    border: 1px solid #B7D5D4;
    border-radius: 200px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 400;
    padding: 10px 30px;
    transition: background-color 0.2s, border 0.2s, color;
}
.btn:hover, .btn:active{
    background-color: #74aaa8;
    border: 1px solid #74aaa8;
}